@{
    ViewData["Title"] = "سياسة الخصوصية";
}
<h2 class="page-title">@ViewData["Title"]</h2>

<div class="table-card" style="padding: 24px;">
    <p>تستخدم هذه الصفحة لتفصيل سياسة الخصوصية الخاصة بموقعك.</p>
</div>
