<div class="modal fade" id="globalSuccessModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content success-modal-content">
            <div class="modal-body success-modal-body">
                <div class="success-modal-icon-wrapper">
                    <svg width="36" height="36" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="white"/>
                    </svg>
                </div>
                <h3 class="success-modal-title">تم بنجاح</h3>
                <div id="globalSuccessMsg" class="success-modal-msg"></div>
                <button type="button" class="btn success-modal-btn" data-bs-dismiss="modal">حسناً</button>
            </div>
        </div>
    </div>
</div>


